
        {{#each game}}
          <div id = "confTable">
              <div>
                  <h2>Nome do Jogo </h2>      {{name}} <br>
                    <h2>Id do jogo  </h2>    {{id}}
              </div>
              <div>
                  <img src={{image_url}} width ="800px" >
              </div>
              <div>
                   <h2>Discrição </h2>   {{description}}
              </div>
          </div>
        {{/each}}
        
