
        <link rel="stylesheet" href="/stylesheets/example.css">

       <main>
           <section>
            <div class="painel-superior">
                <form method="POST" action="/Detail%20game">
                <br>
                    <h1>Obter Detalhe de um jogo</h1>
                    <input type="text" name="nome" placeholder="Digite o nome do jogo"> 
                    <br> <br>
                    <input type="submit" name="Criar" value="Obter">    
                </form>
            </div>
           </section>
     </main>