
        <link rel="stylesheet" href="/stylesheets/example.css">

       <main>
           <section>
            <div class="painel-superior">
                <form method="POST" action="/createGroups">
                <br>
                    <h1>Criando novo grupo</h1>
                    <input type="text" name="nome" placeholder="Digite o nome do groupo"> 
                    <input type="text" name="description" placeholder="Digite a descrição"> <br> <br>
                    <input type="submit" name="Criar" value="Criar">    
                </form>
            </div>
           </section>
     </main>