<div id = "login">
  <form action = "/login" method="post">
        <h1>Iniciar sessão</h1>
        <input type="text" id="textUsername" name="username" placeholder="Nome do usuário"> <br> <br>
        <input type="password" id="password" name="password" placeholder = "password"> <br> <br>
        <input type="submit" value = "Iniciar sessão"> 
        <hr>

        <a href="/register"> Cadastre-se </a> 
  </form>
</div>