
             <div id = "login">
                        <h1>Criar novo usuario</h1>
                        <p id = "message"></p>
                        <p><input id="name" type=text placeholder ="Nome do usuario" > </p>
                        <p><input id="password1" type="password" placeholder ="Senha"> </p>
                        <p><input id="password2" type="password" placeholder = "Repitir senha" > </p>
                        <p> <button id="btn_criar"> Criar</button></p>
            </div>
       
