
 
             <div id = "login">
                <h1>Atualizando grupo</h1>
                <p id = "message"></p>
                <p> Identificação do grupo   : <input  id = "idGroup" type=text value="{{idGroupV}}" disabled> </p>
                    <p> Nome : <input id="group_name" type=text  > </p>
                    <p> Discrição : <input id="group_discription" type=text  > </p>
      
                    <p> <button id="btn_update"> Atualizar </button></p>
             </div>
   